.preferences {

  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  padding: 2em 1em;

  .preference-panel {
    max-width: 500px;
    padding: 2em 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

    .row {
      @include transition(max-height 0.25s ease);
      max-height: 999px;
      overflow: hidden;
    }

    .row.hidden {
      max-height: 0px;
    }

    h3 {
      color: $orange;
      font-size: 1.25em;
      margin-bottom: 0px;
    }

    h4 {
      font-size: 1.1em;
      margin: 1.5em 0px 1em;
    }

    h5 {
      font-size: 1em;
      margin: 1.5em 0px 1em;
    }

    p {
      margin: 0px 0px 1em 0px;
    }

    label {
      font-weight: normal;
    }

    input[type=text] {
      background: #FDFDFD;
    }

    input[type=text]:focus {
      box-shadow: none;
    }

    input[type=range] {
      display: block;
      width: 100%;
    }
  }
}
