// Typography
$base-font-family: "Roboto", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: em(15);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$orange: #F07530;
$faded: #F6F6EF;
$dark-gray: #333;
$medium-gray: #828282;
$light-gray: #aaa;

// Font Colors
$base-background-color: $faded;
$base-font-color: $medium-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// App bar
$app-bar-height: 50px;

// Sidebar
$sidebar-width: 400px;
