<div class="app-bar">
  <h2>{{filterName}}</h2>
</div>

<div class="app-sidebar app-panel">
  <ol class="stories">
    {{#each story in controller}}
      {{story-card tagName="li" story=story}}
    {{/each}}
  </ol>
</div>

<div class="app-content {{if hasContent "active"}}">
  {{outlet}}
</div>