<div class="app-bar">
  {{filterName}}
</div>

<div class="app-sidebar app-panel">
  <ol class="stories">
    {{#each story in controller}}
      {{story-card tagName="li" story=story}}
    {{/each}}
  </ol>
</div>

<div {{bind-attr class=":app-content hasContent:active"}}>
  {{outlet}}
</div>